@import './variables.scss';
.pointer {
  cursor: pointer;
}
.navbar-default .navbar-nav a.router-link-active {
  color: #333333;
  background-color: transparent;
}

.PrivateMessage {
  .nav-pills.Privatemessage-Sidebar {
    a.router-link-active {
      background-color: #2c8fbb;
      color: #fff
    }
  }
  .unread {
    font-weight: bold,	
  }
}
